<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="header-css">
    <base href="/">
        <link rel="stylesheet" type="text/css"
              th:href="@{webjars/bootstrap/3.2.0/css/bootstrap.min.css}" />

        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

</head>
<body>
<div th:fragment="header">
    <!-- this is header -->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">Webshop</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a th:href="@{/}">Home</a></li>
                    <li sec:authorize="hasRole('ADMIN')" class="active"><a th:href="@{/addItem}">Add item</a></li>
                    <li sec:authorize="hasRole('ADMIN')" class="active"><a th:href="@{/orders}">Orders</a></li>
                    <li sec:authorize="hasRole('USER')" class="active"><a th:href="@{/account}">Account</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="hasRole('USER')"><a th:href="@{/shoppingCart}"><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</a></li>
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    <li sec:authorize="isAnonymous()"><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>
</html>